Source: vulkan-loader
Section: graphics
Priority: optional
Maintainer: John Zupin <johnz@lunarg.com>
Build-Depends: debhelper (>= 10),
 cmake,
 vulkan-headers,
 libwayland-dev,
 libwayland-egl1,
 libx11-xcb-dev,
 libx11-dev,
 libxcb1-dev,
 libxrandr-dev,
 pkg-config,
 python3
Standards-Version: 4.1.2
Homepage: https://github.com/johnzupin/Vulkan-Loader
Vcs-Git: https://github.com/johnzupin/Vulkan-Loader
Vcs-Browser: https://github.com/johnzupin/Vulkan-Loader

Package: libvulkan1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: This package contains the Vulkan loader

